@import url('https://at.alicdn.com/t/font_2814832_x8yuwku2yy.css');

[class*="v-icon"] {
  font-family: "v-icon", serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
